<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container"class="jumbotron centered">


    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /register route -->
            <form action="/secrets" method="POST"class="jumbotron centered">
                  <h1 class="display-3">Complete your profile!</h1>
<i class="fas fa-key fa-6x"></i>
              <div class="form-group">
                <label for="name">Enter Your Full Name</label>
                <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label for="medicalCollegeName">Enter Your Medical College Name</label>
                <input type="text" class="form-control" name="medicalCollegeName">
              </div>
              <div class="form-group">
                <label for="session">Enter Your Session</label>
                <input type="text" class="form-control" name="session">
              </div>
              <div class="form-group">
                <label for="bmdcRegNo">Enter Your BMDC Resistration No</label>
                <input type="number" class="form-control" name="bmdcRegNo">
              </div>

              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

          </div>
        </div>
      </div>


  </div>
</div>

<%- include('partials/footer') %>
