<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">


    <form action="/submit" method="POST"class="jumbotron centered">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <p class="secret-text">Don't keep your secrets, share them anonymously!</p>
      <div class="form-group">
        <label for="patientname">Patient Name</label>
        <input type="text" class="form-control" name="patientname">
      </div>
      <div class="form-group">
        <label for="patientage">Patient Age</label>
        <input type="text" class="form-control" name="patientage">
      </div>
      <div class="form-group">
        <label for="sex">Sex</label>
        <input type="text" class="form-control" name="sex">
      </div>
      <div class="form-group">
        <label for="adress">Adress</label>
<textarea name="adress" rows="4" cols="80"class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="contactNo">Contact No</label>
        <input type="number" class="form-control" name="contactNo">
      </div>
      <div class="form-group">
        <label for="date">Date of visit</label>
        <input type="date" class="form-control" name="date">
      </div>
      <div class="form-group">
        <label for="chiefCompalaints">Chief Complaints</label>
    <textarea name="chiefCompalaints" rows="4" cols="80"class="form-control"></textarea>
      </div>
      <label for="historyofPresentingIlness">History Of Present Illness</label>
  <textarea name="historyofPresentingIlness" rows="4" cols="80"class="form-control"></textarea>
    </div>
    <label for="historyofpastingIlness">History Of Past Illness</label>
<textarea name="historyofpastingIlness" rows="4" cols="80"class="form-control"></textarea>
  </div>
      <button type="submit" class="btn btn-dark">Submit</button>

    </form>

    <!-- name: String,age: String,sex: String,adress: String,contactNo:Number,dateOfVisit:Date,
      chiefCompalaints:String,historyofPresentingIlness:String,historyofpastingIlness:String, -->

  </div>
</div>
<%- include('partials/footer') %>
